#login {
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.55);
    color:black;
    width: 230px;
    right:20px;
    position:fixed;
    display:none;
    padding: 95px 20px 20px 20px;
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    z-index: 89;
}

#login a {
    color: #a7d6d0;
    text-decoration: none;
}

#login a:hover {
    color:white;
}