/* 
    Document   : potato
    Created on : Apr 4, 2013, 4:11:08 PM
    Author     : Monika Tuchowska
    
*/

@font-face {
    font-family:"Steinem-Italic";
    src:url("STEINEMI.eot?") format("eot"),url("STEINEMI.woff") format("woff"),url("STEINEMI.ttf") format("truetype"),url("STEINEMI.svg#Steinem-Italic") format("svg");
    font-weight:normal;
    font-style:normal;
}

body, html {
    background-color: #eee;
    font-family: calibri;
    height: 100%;
    margin-top: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;

}

#wrap {
    width: 85%;
    min-width: 860px;
    margin-left: auto;
    margin-right:auto;
    height:100%;
    min-height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}


#header {
    position:fixed;
    top:0;
    z-index: 999;
    overflow: auto;
}

#subheader {
    background-color: #125f94;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.55);
    color:white;
    min-width: 100%;
    left:0;
    position:fixed;
    display:none;
    padding-top: 95px;
    padding-bottom: 13px;
    padding-left: 300px;
    margin-bottom: 100px;
    font-family: "Lato", sans-serif;
    font-size: 10pt;

}

#subheader a {
    color: #a7d6d0;
    text-decoration: none;
}

#subheader a:hover {
    color:white;
}

.movies-links, .queue-links, .genres-links{display:none}

#logo {
    float:left;
    padding: 13px 30px 15px 50px;
}

#rightside {
    z-index: 1000;
    position:fixed;
    padding-top: 20px;
    right:20px;
}

#topnav {
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    font-weight: 300;
    color: #111;
    padding-bottom: 10px;
    float:right;    
}

#topnav a  {
    color: #111;
    padding: 3px;
    text-decoration:none}

#topnav a:hover,  body a:hover, .potatoleft a:hover{
    color: #125f94;
    }

body a{ color: #00caa6; text-decoration:none}

.content a {
    color: #125f94;
}

.content a:hover {
    color: #00caa6;
}

#mainnav {
    background-color: #00caa6;

    text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 16pt;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-right:20px;
    height: 80px;

}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

h2, #firstelem {
    font-family: "Lato", sans-serif;
    font-weight:bold;
    font-size: 12pt;
}

#main {
    padding: 30px;
    background-color: white;
    color: #111;

}

#pagebody {
    width:100%;
    margin: 0 auto;
}

#signuppagebody {
    width: 800px;
    margin: 0 auto;
}

#padheader {
    padding-top: 120px;
}


#moviepagebody {
    padding: 0px 30px 30px 30px;
    width: 860px;
    margin-left:auto;
    margin-right:auto;
}

.breadcrumb {
    /*centering*/
    margin-top: 0;
    width: 100%;
    display: inline;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

.breadcrumb a {
    text-decoration: none;
    display: inline;
    padding: 30px 20px 13px 20px;
    line-height: 40px;
    color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float:left;
    text-shadow: 0px 1px 3px #bbb;}

.flat a, .flat a:after {
    color: #111;
    transition: all 0.5s;
}
.flat a:before {
    box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, 
.flat a:hover:after, .flat a.active:after{

    color: #eee;
    box-shadow: inset 0px -10px #125f94,
        inset 0px -85px #0a919c;
    text-shadow: 0px 1px 3px #000;
}

#active {
    box-shadow: inset 0px -10px #3a767b;

}

#active:hover {
    box-shadow: inset 0px -10px #125f94,
        inset 0px -85px #0a919c;

}


.image_carousel {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#eee;


}
.image_carousel img {
    padding: 9px;
    margin: 2px;
    float: left;
    height: 300px;
    width: 211px;
}

.image_carousel img:hover {
    opacity: 0.8;
    cursor: pointer; 
}

#prev2, #next2 {
    font-size: 25pt;
    font-weight: bold;
}

.pagination {
    text-align: center;
}

.movieposter {
    float:left;
    padding-right: 20px;

}

.content{
    background-color:white;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    padding: 20px;
    line-height: 130%
}

#potatocat{
    padding-top: 45px;
}


.contentsignup {
    background-color:#eee;
    width: 350px;
    float:right;
    text-align:justify;

    padding-left: 5px;
}


dt, dd {
    border-bottom: 0; 
}
dd {
    border-top: 0; 
    margin-left:0;
    padding-top: 3px;
    padding-bottom: 6px;
}


.potatoleft{
    float:right;
    font-size: 20pt;
    max-width: 400px;
    padding-right: 10px;
    position: relative;
    bottom:0
}

.potatoleft a{
    color: #00caa6;
    text-decoration: none;
}

#sortable {
    list-style-type: none; margin: 0; padding: 0; width: 30%;
}

#sortable li { 
    margin: 0 5px 5px 5px; padding: 5px;
    height: 1.5em;
    
    background-color: #0a919c;
    color: white;
    cursor: hand; cursor:pointer;
    overflow:hidden;
}

#sortable li:hover {
    background-color: #00caa6
}


.header1 {
    font-family: "Lato", sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

.header2 {
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: 300;
}

.message {
    font-style: italic
}

hr {
    margin-bottom: 15px;
     margin-top: 15px;
     border-top: 1px solid #ddd;
}

.order {
    padding: 15px;
    border: 1px solid #0a919c;
    width: 90%;
}

.outnow {color:red}

.movielist {
    text-align: center;
}


.movielist img {
    padding: 9px;
    margin: 2px;
    height: 300px;
    width: 211px;
}


.movielist img:hover {
    opacity: 0.8;
    cursor: pointer; 
}

.movtt a {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

.movtt {
    text-align: justify
}

.red {
    color:red;
    font-weight: bold;
}

.mainmovie {display:block;
           min-height: 500px;}

.mainactor {display:block;
           min-height: 250px;}

.cast {
    padding:5px;
    width: 840px;
    min-height: 60px;
    background-color: #eee;
    margin: 4px;
    line-height: 60px;
}

.cast img {
    float:left;
    margin: 5px;
}

.cast a {
    margin-left: 15px
}

.accountsidebar {
    width: 200px;
    min-height:100%;
    display:table-cell;
    float:left;
}

.accountmain {
    width: 640px;
    margin-right: 0
}